In [1]:
import pandas as pd

In [2]:
#CSV Files
#jan2019 = "data/201901-citibike-tripdata.csv"
#feb2019 = "data/201902-citibike-tripdata.csv"
#mar2019 = "data/201903-citibike-tripdata.csv"
#apr2019 = "data/201904-citibike-tripdata.csv"
#may2019 = "data/201905-citibike-tripdata.csv"
#jun2019 = "data/201906-citibike-tripdata.csv"
#jul2019 = "data/201907-citibike-tripdata.csv"
#aug2019 = "data/201908-citibike-tripdata.csv"
sept2019 = "data/201909-citibike-tripdata.csv"
oct2019 = "data/201910-citibike-tripdata.csv"
nov2019 = "data/201911-citibike-tripdata.csv"
dec2019 = "data/201912-citibike-tripdata.csv"

In [3]:
#Read in csv files and view dataframes
# jan2019_df = pd.read_csv("data/201901-citibike-tripdata.csv")
# display(jan2019_df.head())

# feb2019_df = pd.read_csv("data/201902-citibike-tripdata.csv")
# display(feb2019_df.head())

# mar2019_df = pd.read_csv("data/201903-citibike-tripdata.csv")
# display(mar2019_df.head())

# apr2019_df = pd.read_csv("data/201904-citibike-tripdata.csv")
# display(apr2019_df.head())

# may2019_df = pd.read_csv("data/201905-citibike-tripdata.csv")
# display(may2019_df.head())

# jun2019_df = pd.read_csv("data/201906-citibike-tripdata.csv")
# display(jun2019_df.head())

# jul2019_df = pd.read_csv("data/201907-citibike-tripdata.csv")
# display(jul2019_df.head())

# aug2019_df = pd.read_csv("data/201908-citibike-tripdata.csv")
# display(aug2019_df.head())

sept2019_df = pd.read_csv("data/201909-citibike-tripdata.csv")
display(sept2019_df.head())

oct2019_df = pd.read_csv("data/201910-citibike-tripdata.csv")
display(oct2019_df.head())

nov2019_df = pd.read_csv("data/201911-citibike-tripdata.csv")
display(nov2019_df.head())

dec2019_df = pd.read_csv("data/201912-citibike-tripdata.csv")
display(dec2019_df.head())

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,327,2019-09-01 00:00:01.9580,2019-09-01 00:05:29.3410,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,Subscriber,1968,1
1,1145,2019-09-01 00:00:04.1430,2019-09-01 00:19:09.8360,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,Customer,1969,0
2,1293,2019-09-01 00:00:07.3090,2019-09-01 00:21:40.7580,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,Customer,1969,0
3,1753,2019-09-01 00:00:08.0640,2019-09-01 00:29:21.5040,3299,E 98 St & Park Ave,40.788130,-73.952060,3160,Central Park West & W 76 St,40.778968,-73.973747,38760,Subscriber,1990,1
4,613,2019-09-01 00:00:12.8510,2019-09-01 00:10:26.1850,486,Broadway & W 29 St,40.746201,-73.988557,478,11 Ave & W 41 St,40.760301,-73.998842,32094,Subscriber,1992,1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,527,2019-10-01 00:00:05.6180,2019-10-01 00:08:52.9430,3746,6 Ave & Broome St,40.724308,-74.004730,223,W 13 St & 7 Ave,40.737815,-73.999947,41750,Subscriber,1993,1
1,174,2019-10-01 00:00:15.8750,2019-10-01 00:03:10.1680,3301,Columbus Ave & W 95 St,40.791956,-73.968087,3283,W 89 St & Columbus Ave,40.788221,-73.970416,18264,Subscriber,1992,1
2,759,2019-10-01 00:00:19.8240,2019-10-01 00:12:59.7070,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25525,Subscriber,1995,1
3,615,2019-10-01 00:00:21.0680,2019-10-01 00:10:36.6790,254,W 11 St & 6 Ave,40.735324,-73.998004,477,W 41 St & 8 Ave,40.756405,-73.990026,30186,Subscriber,1992,1
4,761,2019-10-01 00:00:26.3800,2019-10-01 00:13:08.3130,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,174,E 25 St & 1 Ave,40.738177,-73.977387,25597,Subscriber,1992,1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,273,2019-11-01 00:00:00.2930,2019-11-01 00:04:34.1880,237,E 11 St & 2 Ave,40.730473,-73.986724,335,Washington Pl & Broadway,40.729039,-73.994046,16773,Subscriber,1989,1
1,159,2019-11-01 00:00:03.5840,2019-11-01 00:02:43.4780,3572,34 Ave & 38 St,40.756913,-73.921631,3568,34 St & 35 Ave,40.756933,-73.926223,26411,Subscriber,1980,2
2,967,2019-11-01 00:00:06.2670,2019-11-01 00:16:14.0990,334,W 20 St & 7 Ave,40.742388,-73.997262,529,W 42 St & 8 Ave,40.757570,-73.990985,35155,Subscriber,1994,2
3,604,2019-11-01 00:00:21.7610,2019-11-01 00:10:25.8910,280,E 10 St & 5 Ave,40.733320,-73.995101,445,E 10 St & Avenue A,40.727408,-73.981420,19864,Subscriber,1976,2
4,153,2019-11-01 00:00:25.2060,2019-11-01 00:02:59.0180,3761,Cedar St & Myrtle Ave,40.697842,-73.926241,3846,Central Ave & Himrod St,40.696760,-73.923020,40156,Subscriber,1994,1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,602,2019-12-01 00:00:05.5640,2019-12-01 00:10:07.8180,3382,Carroll St & Smith St,40.680611,-73.994758,3304,6 Ave & 9 St,40.668127,-73.983776,41932,Subscriber,1970,1
1,1206,2019-12-01 00:00:10.9630,2019-12-01 00:20:17.8820,362,Broadway & W 37 St,40.751726,-73.987535,500,Broadway & W 51 St,40.762288,-73.983362,18869,Customer,1999,1
2,723,2019-12-01 00:00:11.8180,2019-12-01 00:12:14.8310,146,Hudson St & Reade St,40.716250,-74.009106,238,Bank St & Washington St,40.736197,-74.008592,15334,Subscriber,1997,1
3,404,2019-12-01 00:00:12.2200,2019-12-01 00:06:56.8860,3834,Irving Ave & Halsey St,40.694670,-73.906630,3827,Halsey St & Broadway,40.685650,-73.915640,41692,Customer,1995,1
4,1059,2019-12-01 00:00:14.7230,2019-12-01 00:17:54.1860,500,Broadway & W 51 St,40.762288,-73.983362,3323,W 106 St & Central Park West,40.798186,-73.960591,40156,Subscriber,1961,1

In [4]:
#Concat all dfs together
dataframes = [sept2019_df, oct2019_df, nov2019_df, dec2019_df]

citibike2019_df = pd.concat(dataframes)
display(citibike2019_df.head())
display(citibike2019_df.tail())

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,327,2019-09-01 00:00:01.9580,2019-09-01 00:05:29.3410,3733,Avenue C & E 18 St,40.730563,-73.973984,504,1 Ave & E 16 St,40.732219,-73.981656,39213,Subscriber,1968,1
1,1145,2019-09-01 00:00:04.1430,2019-09-01 00:19:09.8360,3329,Degraw St & Smith St,40.682915,-73.993182,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,21257,Customer,1969,0
2,1293,2019-09-01 00:00:07.3090,2019-09-01 00:21:40.7580,3168,Central Park West & W 85 St,40.784727,-73.969617,423,W 54 St & 9 Ave,40.765849,-73.986905,15242,Customer,1969,0
3,1753,2019-09-01 00:00:08.0640,2019-09-01 00:29:21.5040,3299,E 98 St & Park Ave,40.788130,-73.952060,3160,Central Park West & W 76 St,40.778968,-73.973747,38760,Subscriber,1990,1
4,613,2019-09-01 00:00:12.8510,2019-09-01 00:10:26.1850,486,Broadway & W 29 St,40.746201,-73.988557,478,11 Ave & W 41 St,40.760301,-73.998842,32094,Subscriber,1992,1

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
955205,93,2019-12-31 23:58:18.0160,2019-12-31 23:59:51.6360,3141,1 Ave & E 68 St,40.765005,-73.958185,3142,1 Ave & E 62 St,40.761227,-73.960940,28734,Subscriber,1985,2
955206,786,2019-12-31 23:58:59.8960,2020-01-01 00:12:06.3460,490,8 Ave & W 33 St,40.751551,-73.993934,513,W 56 St & 10 Ave,40.768254,-73.988639,41418,Subscriber,1991,1
955207,351,2019-12-31 23:59:03.6950,2020-01-01 00:04:54.8730,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3368,5 Ave & 3 St,40.672816,-73.983524,27746,Subscriber,1935,2
955208,1571,2019-12-31 23:59:21.3610,2020-01-01 00:25:32.9420,252,MacDougal St & Washington Sq,40.732264,-73.998522,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,28506,Subscriber,1980,1
955209,310,2019-12-31 23:59:55.2960,2020-01-01 00:05:05.7270,3351,E 102 St & 1 Ave,40.786995,-73.941648,3379,E 103 St & Lexington Ave,40.790305,-73.947558,21013,Subscriber,1969,0

In [5]:
#Output to csv to use in tableau
citibike2019_df.to_csv("output/citibike2019.csv", index=False)